/.sass-cache/*
*.DS_Store

/bower_components/*
!/bower_components/jquery/
!/bower_components/foundation/
!/bower_components/d3/
!bower_components/modernizr/

/bower_components/jquery/*
!/bower_components/jquery/dist/

/bower_components/jquery/dist/*
!/bower_components/jquery/dist/jquery.min.js
!/bower_components/jquery/dist/jquery.min.map

/bower_components/foundation/*
!/bower_components/foundation/js/

/bower_components/foundation/js/*
!/bower_components/foundation/js/foundation.min.js
!/bower_components/foundation/js/foundation/

/bower_components/foundation/js/foundation/*
!/bower_components/foundation/js/foundation/foundation.magellan.js
!/bower_components/foundation/js/foundation/foundation.tooltip.js

/bower_components/d3/*
!/bower_components/d3/d3.min.js

bower_components/modernizr/*
!bower_components/modernizr/modernizr.js